# Set default behavior for text files
* text=auto

# Explicitly set line endings for common text file types to LF
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.css text eol=lf
*.html text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Treat specific files as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.pyd binary
*.dll binary
*.exe binary
*.pyc binary